<form action="/admin/deleteUser" method="post" class="col-12 px-5 mb-1 bg-light py-4 mt-1" style="border-radius: 2em;">
    <h5 class="text-center">Delete User</h5>
    <hr class="mx-5 my-1">

    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email ID">
    </div>

    <h6 class="text-center pt-1">----- or -----</h6>

    <div class="mb-3">
        <label for="phone" class="form-label">Phone number</label>
        <input type="number" name="phone" class="form-control" id="phone" placeholder="Enter contact number">
    </div>

    <div class="text-center mb-2">
        <button type="submit" class="btn btn-primary mt-3">Delete User</button>
    </div>
</form>
